# Nakama Console Access
NAKAMA_CONSOLE_USERNAME="admin"
NAKAMA_CONSOLE_PASSWORD="password"

# Nakama Server Keys
NAKAMA_HTTP_KEY="defaulthttpkey"
NAKAMA_SERVER_KEY="defaultkey"
NAKAMA_ENCRYPTION_KEY="defaultencryptionkey"
NAKAMA_REFRESH_ENCRYPTION_KEY="defaultrefreshencryptionkey"

# PostgreSQL Configuration
POSTGRES_DB="nakama"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_USER="postgres"